xlm-roberta-base-finetuned-panx-all/
xlm-roberta-base-finetuned-panx-de/
xlm-roberta-base-finetuned-panx-de-fr/
xlm-roberta-base-finetuned-panx-fr/
xlm-roberta-base-finetuned-panx-it/
xlm-roberta-base-finetuned-panx-de
